<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title>{{title}}</title>
</head>

<body style="margin:0;font-family:arial">
<table style="border:0;width:100%">
  <tr style="background:#eeeeee">
    <td style="padding:20px;color:#808080;text-align:center;font-size:40px;font-weight:600">
      {{app_name}}
    </td>
  </tr>
  <tr>
    <td style="padding:20px;color:#808080;font-size:16px;font-weight:100">
      <div>One of your document submissions has been pushed back</div><br>
      <div>The following document has been rejected:</div><br>
      <b>Document: {{text1}}<br></b>
      Comment: {{text2}}<br>
      <div>Kindly login to your account to review the feedback and make the necessary changes</div><br>
      <div>Regards</div>
    </td>
  </tr>
</table>
</body>

</html>
